html body{
    padding: 0px;
    margin: 0px;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
#ogcontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    height: 100vh;
}
#container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 480px;
    height: 480px;

}
#uicontainer{
    align-self: center;
    display: flex;
    gap: 5px;
}
.box{
    margin: 0;
    padding: 0;
    
}


.hover{
    background-color: red;
}
.grid{
    border: 1px solid black;
}
button{
    border-radius: 5px;
    color: black;
    background-color: antiquewhite;
}